# Ignore everyhing...
/*
.DS_Store
fish/fish_variables
gh/hosts.yml
karabiner/automatic_backups
tmux/plugins

# ...except these files/folders
!.gitignore
!README.md
!Brewfile
!fish
!gh
!ghostty
!karabiner
!nvim
!omf
!rectangle
!tmux
!lazygit

